#wrap
{
    background: url(../images/background.jpg) left top repeat fixed;
    width: 90%;
    margin: 20px auto;
    padding: 30px 20px 0 0;
}
#screen
{
    background: #FEF6F8;
    padding: 10px 10px 10px 0;
    height: 100%;
}
a:focus, a:hover, a:active
{
    background: #F3CF86;
}
#header
{
    /* padding-bottom: 20px; */
    margin-left: 10px;
    padding-left: 10px;
}
#main
{
    width: 75%;
    padding-left: 10px;
    float: left;
    margin-left: 10px;
}
#sidebar
{
    background: #F5F8FA;
    margin-left: 74%;
    width: 20%;
    padding-top: 10px;
    padding-left: 4px;
}
#footer
{
    clear: both;
    margin-left: 10px;
    padding-left: 10px;
}
.entry
{
    /* margin-right: 10px; */
    /* margin-bottom: 10px; */
}
.navibuttons
{
    text-align: right;
    position: relative;
    top: -2.5em;
}
.photo
{
    width: 250px;
    height: 320px;
    position: absolute;
    left: -250px;
    top: -15px;
}
.photo_text
{
    margin-left: 250px;
    position: relative;
    width: 60%;
}
